doctype html
html
  head
    title= title
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    ul
      li
        a(href="/") Home
      li
        a(href="/hello") Hello
      li
        a(href="/a") A
    block content
