body {
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
  line-height: 1.44em;
}

h1, h2, h3, h4 { font-weight: 300; }

p, p.lead {
    color: #303030;
}

p { font-weight: 200; }

p.lead { font-weight: 200; }
