footer
  .container
    .row
      .col-md-12
        hr
        address
          strong Gardenova Kereskedelmi és Termelő Kft.
          br
          small
            abbr(title='Cím') 4522 Nyírtass, Bem út 23/b.
            br
            abbr(title='email')
              a(href='mailto:info@gardenova.hu') info@gardenova.hu
